$primary-purple-dark: #512DA8;
$primary-purple: #673AB7;
$primary-accent: #009688;
$primary-purple-light: #D1C4E9;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$primary-text-light: #f0f0f0;
$primary-text-dark: #212121;